# === IDE & Editor Files ===
.vscode/
.idea/
*.iml

# === GENERAL PROJECT IGNORE ===
.env
.env.local
.env.*.local
.DS_Store
Thumbs.db
logs/
*.log

# ===  (Flask) ===
__pycache__/  
env/
*.pyc
*.pyo
*.db
.env
.env.local
.env.*.local
instance/
logs/
app/uploads/ 
readme.md